[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/zlargon
[access "refs/for/refs/*"]
	read = group user/zlargon
	push = group user/zlargon
	label-Code-Review = -2..+2 group user/zlargon
	label-Verified = -1..+1 group user/zlargon
	rebase = group user/zlargon
	removeReviewer = group user/zlargon
	submit = group user/zlargon
[access "refs/heads/*"]
	read = group user/zlargon
	create = group user/zlargon
	push = +force group user/zlargon
	pushMerge = group user/zlargon
[access "refs/tags/*"]
	push = +force group user/zlargon
	pushTag = group user/zlargon
	pushSignedTag = group user/zlargon
[receive]
	requireChangeId = true
[submit]
	action = rebase if necessary
[project]
	state = hidden
